<div class="jumbotron">
  <h1>Bem-vindo ao Sistema Push</h1>
  <p>
    O TJDFT está disponibilizando um novo Sistema Push com o mesmo objetivo de envio dos andamentos processuais via e-mail, porém com um cadastro único com senha, identificado pelo CPF ou CNPJ, para maior segurança e a possibilidade de reenvio dos e-mails
    não recebidos. Para realizar o cadastro no novo Sistema Push, acesse a opção Novo CADASTRO. A senha a ser cadastrada deverá ter no mínimo 06 (seis) caracteres, contendo pelo menos 01 (uma) letra e 01 (um) número. Trata-se de um serviço informativo
    auxiliar, não dispensando o uso dos instrumentos oficiais de comunicação para formalização e produção de efeitos legais. Após o cadastramento de usuário será enviado um e-mail de confirmação, onde é obrigatória a sua validação, sem a qual o serviço
    não será ativado; Para cadastramento no Push, opção de acompanhamento por OAB, é necessário que o usuário já esteja cadastrado na Tabela de Advogados / Tabela de Procuradores do sistema de acompanhamento processual do TJDFT. Esse cadastro é realizado
    no Setor de Distribuição, pelo interessado.
  </p>
</div>
